<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>onion-lookup - checking the metadata of a Tor hidden service</title>

    <!-- Bootstrap core CSS -->
    <link href="{{ url_for('static', path='/css/bootstrap.min.css') }}" rel="stylesheet">

  </head>

  <body>

    <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
      <a class="navbar-brand" href="#">onion-lookup: Everything you've always wanted to know about a Tor hidden service.</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

    </nav>

    {% block content %}{% endblock %}

    <footer class="container">
	    <p>onion-lookup is an open project part of the <a href="https://www.ail-project.org/">AIL Project</a>.</p>
    </footer>

    <script src="{{ url_for('static', path='/js/jquery-3.7.1.slim.min.js') }}"></script>
    <script src="{{ url_for('static', path='/js/popper.min.js') }}"></script>
    <script src="{{ url_for('static', path='/js/bootstrap.min.js') }}"></script>
  </body>
</html>

